/* 
 *  base reset
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  color: #131313;
}

body {
  background: tomato;
}

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/* 
 *  checklist
 */

.checklist {
  margin: 15px 0;
  padding: 0;
  font-family: monospace;
  list-style-type: none;
}

/* 
 *  header
 */

/* issue more control over width of header */

.header {
  position: relative;
  padding: 10px 0 10px 15px;
  margin: 0 0 20px 0;
  border-bottom: 3px solid #131313;
}

.header-logo {
  display: inline-block;
  margin: 0 20px 0 0;
  font: 700 24px 'Montserrat', sans-serif;
  letter-spacing: -1px;
}

.header-nav {
  position: absolute;
  right: 15px;
  top: 30%;
}

.header-add,
.collect-submit,
.list-add {
  padding: 3px 6px;
  color: tomato;
  background: #131313;
  font: 700 14px 'Montserrat', sans-serif;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.header-add:active,
.header-add:focus {
  outline: none;
}

/*
 *  list
 */

.list,
.list--top {
  position: relative;
  width: 320px;
  padding: 5px 8px;
  margin: 0 auto 20px;
  border-radius: 2px;
  border: 3px solid #131313;
}

.list--top {
  padding: 5px 0;
  border-radius: 0;
  border: none;
  border-bottom: 3px solid #131313;
}

.list-name {
  color: #131313;
  margin: 0;
  font: 700 24px/24px 'Montserrat', sans-serif;
}

.list-add {
  position: absolute;
  top: 15px;
  right: 0;
}

.list-link {
  color: #131313;
  text-decoration: none;
}

.list-inflect {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 8px 8px 0 0;
  color: #131313;
  font: 400 30px/30px 'Montserrat', sans-serif;
  text-decoration: none;
  text-align: right;
}

.list-notes {
  margin: -2px 0 0 0;
}

.list-total,
.list-count {
  margin: 0 2px 0 0;
  color: #131313;
  font: 700 14px 'Montserrat', sans-serif;
}

.list-seperator {
  padding: 0 3px 0 1px;
  font: 700 24px/14px 'Montserrat', sans-serif;
  vertical-align: -18%;
}

/*
 *  item
 */

.item {
  position: relative;
  width: 320px;
  padding: 0;
  margin: 0 auto 20px;
  background: rgba(255,99,71,0.55);
}

.item-img {
  position: relative;
  width: 100%;
  margin: 0 0 5px 0;
  -webkit-filter: brightness(2);
  filter: brightness(2);
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  z-index: -1;
}

.item-name,
.item-price,
.item-manufacturer,
.item-link,
.item-buy {
  display: inline;
}

.item-manufacturer {
  font: 700 16px/16px 'Montserrat', sans-serif;
}

.item-manufacturer:after {
  content: ' -';
}

.item-name {
  font: 700 16px/16px 'Montserrat', sans-serif;
}

.item-link {
  position: relative;
  float: right;
  display: inline-block;
  margin: 0 0 0 10px;
  color: #131313;
  font: 700 14px 'Montserrat', sans-serif;
  text-decoration: none;
}

.item-price {
  padding: 1px 5px 1px 4px;
  border-radius: 2px 0 0 2px;
  border: 3px solid #131313;
  border-right: none;
}

.item-buy {
  padding: 1px 5px 1px 4px;
  color: tomato;
  background: #131313;
  border-radius: 0 2px 2px 0;
  border: 3px solid #131313;
  font: 700 14px 'Montserrat', sans-serif;
}

.item-link:active,
.item-link:focus {
  outline: none;
}

/*
 *  collect
 */

.collect {
  position: relative;
  max-width: 320px;
  margin: 0 auto 20px;
}

.collect-label,
.collect-input {
  display: block;
  width: 100%;
  border: 3px solid #131313;
}

.collect-label {
  padding: 1px 10px 2px;
  color: tomato;
  background: #131313;
  font: 700 12px 'Montserrat', sans-serif;
}

.collect-input {
  padding: 7px 10px;
  border: none;
  border-left: 3px solid #131313;
  border-right: 3px solid #131313;
  border-bottom: 3px solid #131313;
  background: tomato;
  font: 400 16px 'Montserrat', sans-serif;
}

.collect-label:last-child,
.collect-input:last-child {
  border-bottom: none;
}

.collect-input::-webkit-input-placeholder {
  color: rgba(0,0,0,0.5);
  font: 400 16px 'Montserrat', sans-serif;
}

.collect-input::-moz-placeholder {
  color: rgba(0,0,0,0.5);
  font: 400 16px 'Montserrat', sans-serif;
}

.collect-input:-ms-input-placeholder {
  color: rgba(0,0,0,0.5);
  font: 400 16px 'Montserrat', sans-serif;
}

.collect-input::placeholder {
  color: rgba(0,0,0,0.5);
  font: 400 16px 'Montserrat', sans-serif;
}

.collect-submit {
  float: right;
  margin: 10px auto 0;
}

.collect-input,
.collect-focus,
.collect-submit {
  outline: none;
}