    <form class="collect cf">
      <label class="collect-label">Name</label>
      <input class="collect-input" type="text" placeholder="what's the item called?">
      <label class="collect-label">Manufacturer</label>
      <input class="collect-input" type="text" placeholder="who made it?">
      <label class="collect-label">Price</label>
      <input class="collect-input" type="text" placeholder="just numbers, omit the '$'">
      <label class="collect-label">URL</label>
      <input class="collect-input" type="text" placeholder="buy link to item">
      <label class="collect-label">IMG</label>
      <input class="collect-input" type="text" placeholder="link to item image">
      <input class="collect-submit" type="submit" value="Add Item">
    </form>